<div class="container">
  <h1>Edit <%= @restaurant.name %></h1>

    <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category, collection: Restaurant::CATEGORIES %>
      <%= f.submit %>
    <% end %>
</div>
